body, html {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

html,
body,
#myChart{
  width:100%;
  height:100%;
}

#myChart {
  min-width: 90%;
  min-height: 90%;
  width:90%;
  height:90%;
}

body {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
}

div {
  border: 5px solid pink;
  /* Change px values to percentages later on */
  padding: 10px;
}

.slider {
  width: 100%;
  outline:none;
}

